body{
         /*border: 2px solid black;  */
         height:1840px;  
         background-color:rgba(255, 99, 71, 0.2);
         
        }
        #omotac{
             box-sizing:border-box;
            position:relative;
           /*border:1px solid red;*/
            width:1300px;
            height:1820px;
            margin:10px;
            } 
        #main_element{
            height:1450px;
            /*border:2px solid green;*/
            position:relative;
        }    
        #d1, #d2,#d3,#d4,#d5{
            box-sizing:border-box;
            width:500px;
            font-size: 16px;
            font-family: Cursive;
            background-color:lightgray;
        }
        #d1{
            position: relative;
            left:100px;
            top:10px;
        }
        #d2{
            position:absolute;
            right:100px;
            top:10px;
        }
        #d3{
            position:absolute;
            right:100px;
            top:480px;
        }
        #d4{
            position:absolute;
            left:100px;
            bottom: 30px;
        }
        #d5{
            position:absolute;
            right:100px;
            bottom:30px;
        }
        #glavni_naslov{
    		color:rgba(200,0,0,1);
            background-color:lightblue;
    		font-size:50px;
    		text-align:center;
    		font-family:Cursive;
    	}
        #cetkicazubpasta{
            background-image: url("zubiccetkicapastamali.jpg");
            height:120px;
            
        }

    	h2{
           /*border:1px solid blue;*/
    		color: darkorange;
    		text-align:center;
    	}
        p{
            text-align:center;
        }
        
        div{
           /* border:1px dotted black;*/  
          font-size: 16px;
          font-family: Cursive;
        }

      
      footer{
        color:white;
        background-color:gray;

        font-size:15px;
        font-family:Tahoma;
        font-weight:bold;
        text-align:center;
        display:inline-block;
        width:1300px;
        height:90px;
        position:relative;
        top::10px;

    		
    	 }